/*
    Tipos de letra
*/

@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Exo+2:wght@300&display=swap');

/*
    Estilos generales
*/

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

header{
    width: 100%;
    background-color: rgb(31, 62, 99);
    display:flex;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("/images/prueba.jpg");
}

footer{
    width: 100%;
    background-color: rgb(31, 62, 99);
    display:flex;
    color: rgb(61, 174, 240);
    font-weight: bold;
}

/*
    Encabezado
*/

.contenidoHeader{
    display: flex;
}

.contenedorEncabezado{
    display: flex;
    position: absolute;
    width: 30px;
    height: 90px;
    margin: 40px 40px 40px 90px;
}

.tituloEncabezado{
    position: relative;
    display: flex;
    font-size: 350%;
    font-weight: bold;
    width: 600px;
    margin: 40px;
    margin-left: 450px;
    font-family: 'Assistant', sans-serif;
    color: rgb(61, 174, 240);
}

.botonesEncabezado{
    display: flex;
    margin:20px;
    margin-left: 45px;
    margin-top: 40px;
}

.botonE{
    color: rgb(255, 255, 255);
    background-color:  rgb(61, 174, 240);
    margin: 20px;
    text-decoration: none;
    border-radius: 10px;
    width: 155px;
    height: 55px;
    font-size: 20px;
    padding: 12px 12px 12px 18px;
    transition: 0.2s ease;
    opacity: 0.8;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.botonE:hover{
    opacity: 1;
}

.botonE1{
    color: rgb(255, 255, 255);
    background-color:  rgb(61, 174, 240);
    margin: 20px;
    text-decoration: none;
    border-radius: 10px;
    width: 155px;
    height: 55px;
    font-size: 20px;
    padding: 12px 12px 12px 24px;
    transition: 0.2s ease;
    opacity: 0.8;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.botonE1:hover{
    opacity: 1;
}

/*
    Menu de Navegacion
*/

.menu{
    display: inline-block;
    block-size: auto;
    width: 100%;
    height: 80px;
    background-color:  rgb(0, 72, 117);
}

.menu ul{
    display: inline-block;
    width: 100%;

}

.menu ul li{
    display: inline-block;
    width: 220px;
    height: 70px;
    margin: 17px;
    margin-left: 50px;
    font-size: 30px;
    border-radius: 10px;   
    text-align: center;
    opacity: 0.8;
}

.menu li a{
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    background-color:  rgb(0, 72, 117);
    color:rgb(75, 204, 255);
    border-radius: 10px;
    font-weight: bolder;
    padding: 0px;
}

.menu ul li a:hover{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    color: black;
}

/*
    Contenido de la pagina
*/

/*
    Descripcion de LGH
*/

section .contenido{
    width: 75%;
    border-radius: 10px;
    margin: 60px;
    background-color: rgb(30, 126, 181);
}

.tituloContenido{
    width: 60%;
    text-align:center;
    float: left;
    margin: 10px;
    margin-right: 35px;
    padding-top: 35px;
    padding-left: 15px;
    
}

.barraBuscar{
    width: 30%;
    margin: 59px 55px;
    justify-content: center;
    align-items: center;
}

.barraBuscar input{
    font-size: 110%;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

.barraBuscar a{
    background-color:  rgba(0, 41, 57, 0.995);
    color: white;
    width: 30%;
    opacity: 0.8;
    font-weight: bold;
    transition: 0.2s ease;
    font-family: 'Exo 2', sans-serif;
}

.barraBuscar a:hover{
    opacity: 1;
    background-color:  rgba(0, 183, 255, 0.995);
    color: white;
}

.contenidoH1{
    font-family: 'Assistant', sans-serif;
    font-size: 320%;
    font-weight: bolder;
    color: rgb(182, 232, 252);
}

.imagenNumero1{
    float: right;
    margin: 20px 50px 35px 40px;
}

.imagenNumero1 img{
    width: 330px;
    height: 50%;
    border-radius: 25px;
}

.textoDescripcion{
    margin: 40px 50px 20px 50px;   
    color: white;
    font-size: 120%;
    text-align: justify;
}

.textoDescripcion p{
    font-family: 'Exo 2', sans-serif;
}

.tituloServicios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 45px 45px 45px 10px;
}

/*
    Servicios Incluidos
*/

.tituloServiciosCont{
    font-family: 'Exo 2', sans-serif;
    color: rgb(182, 232, 252);
    font-weight: bolder;
    font-size: 300%;
    border-bottom: 1px solid rgb(182, 232, 252);
}

.serviciosIncluidos{
    width: 91.1%;
    margin: 50px;
    text-align: justify;    
    border-style: none;
}

.textoAcordion{
    font-size: 110%;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    margin-left: 1%;
}

.accordion-body{
    font-family: 'Assistant', sans-serif;
    font-size: 100%;
    background-color:  rgb(232, 245, 249);
}   

.serviciosIncluidos button{
    background:  rgb(194, 237, 252);
}

/*
    Reviews LGH
*/

.contenedorReviews{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 45px 45px 45px 10px;
}

.reviewsLions{
    font-family: 'Exo 2', sans-serif;
    color: rgb(182, 232, 252);
    font-weight: bolder;
    font-size: 300%;
    border-bottom: 1px solid rgb(182, 232, 252);
}

.contenedorCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carta{
    width: 20rem;
    padding: 10px;
}

.card-body{
    text-align: center;
    background-color: rgb(194, 237, 252);
    border-radius: 10%;
}

.card-title{
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.carta img{
    width: 60%;
    height: 75%;
    border-radius: 50%;
    margin: 5px;
    margin-top: 5px;
    border: 5px solid white;
}

.carta .lista{
    margin: 10px;
    text-align: center;
}

.carta ul li{
    font-family: 'Assistant', sans-serif;
}

/*
    Pie de Pagina
*/

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    padding: 10px;
    margin-bottom: 15px;
    font-size: 240%;
    font-family: 'Assistant', sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.2s ease-out;
    margin-top: -10px;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-out;
}

.iconos-redes-sociales a:hover{
    background-color: rgb(109, 216, 255);
    border: 2px solid  black;
}

.iconos-redes-sociales a:hover i{
    color:black;
}

.derechos-de-autor{
    font-size: 15px;
    color: #ffffff;
    padding: 20px;
}